
#button-addon1{
    border-color: #ced4da;
}
.btnn {
    background-color: #F48224;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    border-radius: 5 !important;
    border: none;
    transition:all 0.3s ease 0s;
}
.btnn:hover,
.btnn.active:hover{
    color: #ffffff;
}
.btnn:before{
    content: "";
    position: absolute;
    top: -7px;
    left: 0;
    background-color:#0fb2e0;
    width: 30%;
    height: 4px;
    transition:all 0.3s ease 0s;
}
.btnn:after{
    content: "";
    position: absolute;
    bottom: -7px;
    right: 0;
    background-color:#0fb2e0;
    width: 30%;
    height: 4px;
    transition:all 0.3s ease 0s;
}
.btnn:hover:before,
.btnn:hover:after,
.btnn.active:before,
.btnn.active:after{
    width: 100%;
}

@media screen and (max-width: 575px){
    .btnn{
        margin-bottom: 50px !important;
    }
}
#ReCAdd{
    background-color:#198754 ;
    margin-right: 20px;
    padding-right: 20px;
    text-align: center;
}
#ReCAdd::after{
    background-color:#198754 ;
}
#ReCAdd::before{
    background-color:#198754 ;
}
form{
    margin-top: 18px;
    
}
section{
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);;
    outline: 3px outset #33ccff ;
}
#InpuField{
    background-color: #498596;
    width: 320px;
}
.StylH4{
    font-family:fantasy;
    
}
#insideDoc{
    font-family: cursive;font-size: 18px;
}
.EditRes{
    margin-left: 5px;
    background-color:#249ef4cc;
}
.nameDiagram{
    box-shadow:inset 10px 10px 20px #ccc,inset -10px -10px 10px #fff;
    margin-bottom:20px;
    padding-left:10px;
    padding-right:10px;
    border-radius:20px;
    border-color: #ccc ;
    outline: none;
}
