
  <form>
    <div class="form-group row">
      <label for="intro" class="col-sm-4 col-form-label">Introduction</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="intro"  >
      </div>
      <input type="hidden" id="id" value="0">
    </div>
    <div class="form-group row">
      <label for="purpose" class="col-sm-4 col-form-label">Purpose of software being developed</label>
      <div class="col-sm-10">
        <input type="text" placefolder="type" class="form-control" id="purpose">
      </div>
    </div>
     <div class="form-group row">
      <label for="audience" class="col-sm-4 col-form-label">Intended Audience</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="audience">
      </div>
     </div>
      <div class="form-group row">
        <label for="intro" class="col-sm-4 col-form-label">Overall description of the software</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="overall">
        </div>
      </div>
      <div class="form-group">
        <label for="features" class="col-sm-4 col-form-label">System Features and Requirements:</label>
        <label for="functional" class="col-sm-4 col-form-label" style="display:block">1-Functional Requirements</label>
        <label for="nonfunctional" class="col-sm-4 col-form-label" style="display:block">2-Non-Functional Requirements</label>
        <label for="external" class="col-sm-4 col-form-label" style="display:block">3-External Interface Requirements</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="features">
        </div>
        </div>
    
    <div class="form-group row">
      <div class="col-sm-4">
       <label for="usecase" class="col-sm-4 col-form-label">Usecase</label>
        <input type="file" accept='image/*' id="FileUpload" class="btn btn-primary" (change)="docImage($event)" ><br>
        <input type="hidden" id="hiddenImage">
        <img class="card-img-top" id="img" [src]="imgPath" alt="">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-4"  >
        <button type="save" class="btn btn-success"  (click)="saveDoc()" >Save</button> 
      </div>
      <div class="col-sm-4">
        <input type="reset" class="btn btn-secondary">
      </div>
    </div>
</form>

  



  

